[submodule "submodules/backend"]
	path = submodules/backend
	url = git@github.com:minhdqdev/ads-backend.git
	branch = develop
[submodule "submodules/frontend"]
	path = submodules/frontend
	url = git@github.com:minhdqdev/ads-frontend.git
	branch = develop
